.carousel-inner {
    max-height: 625px;
}

li, .title-form, .h3-order, .p-order {
    font-size: 18px;
}

.card-size {
    box-sizing: content-box;
}

.pictureCart {
    width: 400px;
}

.ul-order {
    list-style: none;
}